/*=============================================
=           GENERAL          =
=============================================*/



/*=====  End of Section  GENERAL ======*/







/*=============================================
=           SEARCH BAR          =
=============================================*/





#searchBar .searchBarSection{
	background-color: #0B2E4A;
	padding: 10px;
}

#searchBar .searchBarSection p{
	color: white;
	text-align: right;
/*padding-top: 3px;*/
}

#searchBar .searchBarSection img{
margin-right: 5px;
margin-left: 5px;
}

#searchBar .searchBarSectionOpt{
	background-color: #0B2E4A;
	padding-top: 14px;
}

#searchBar .searchBarSectionOpt p{
	color: white;
	text-align: right;

}


#searchBar .searchBarStatus{
	background-color: white;
	padding-top: 15px;
	border-left: 10px solid #038ED1;
}

#searchBar .searchBarStatus p{
color: var(--blueBase);;
font-weight: 300;
}

#searchBar label{
	color: white;
	margin-top: 7px;
	margin-left: 5px;
	margin-right: 8px;
	font-weight: 600;
}


#searchBar .input-group-text{
	background: white;
}

#searchBar #searchInputDpodsSearchBar{
	border: 1px solid #DCDCDC;
	border-right: none;
	border-radius: 2px;
}


#searchBar #searchInputDpodsSearchBar:focus{
	border: 1px solid #DCDCDC;
	border-right: none;
}


/*=====  End of Section  SEARCH BAR ======*/


/*=============================================
=           TABS          =
=============================================*/




#tabsSectionFormDataRoles .nav-item{
	background-color: white;
}

#tabsSectionFormDataRoles  .nav-item .nav-link{

/*color: gray;*/
}

#tabsSectionFormDataRoles  .nav-item a{
color: #B6C0C9;
font-weight: 600;
font-size: 18px;
}

#tabsSectionFormDataRoles  .nav-item .nav-link .active {
/*background-color: #0B2E4A;*/
color: #0B2E4A;
font-weight: 600;
font-size: 18px;
}



.tab-panedpods{
	background-color: white;
padding-top: 30px;
padding-bottom: 30px;
}


.tab-panedpods select{
	margin-top: 8px;
}


.tab-panedpods label{
	color: #23435C;
	font-weight: 400;
}

.titleTab h4{
color: #23435C;
margin-bottom: 10px;
font-weight: 600;
font-size: 20px;
}




/*=====  End of Section  TABS ======*/





#formMidle .sectionFormBackground{
	background-color: var(--baseBackground);
	padding: 20px;
}

#formMidle  p{
	color: #23435C;
font-weight: 600;
}

#formMidle  label{
	color: #23435C;
/*font-weight: 600;*/
}




#formButtn  p{
	color: #23435C;
font-weight: 600;
}

#formButtn  label{
	color: #23435C;
/*font-weight: 600;*/
}





#formButtn span{
	color: gray;
	font-size: 12px;
	font-weight: 200;
}






#formButtn .prevImg{
	border: 4px solid white;
}



/*=============================================
=           NUEVO EMBARQUE          =
=============================================*/


#newShipmentSection{

padding-top: 140px;
background-color: white;
min-height: 500px;

}

#newShipmentSection .row{




}

#newShipmentSection .titlenewShipment p{
text-align: center;
font-size: 20px;
font-weight: 300;
}

#newShipmentSection .titlenewShipment {
margin-bottom: 25px;
}


#newShipmentSection .primaryButton{
padding-top: 48px;
padding-bottom: 48px;

}


#newShipmentSection .greenButton{
padding-top: 48px;
padding-bottom: 48px;


}





/*=====  End of Section  NUEVO EMBARQUE  ======*/




/*=============================================
=           MODAL CARGA DOCUMENTO          =
=============================================*/


#cargaDocumentoModal .modal-dialog{
border-radius: 10px;
}

#cargaDocumentoModal .modal-body{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 40px;
	padding-right: 40px;
}

#cargaDocumentoModal .modal-content{
	border-radius: 17px;
}

#cargaDocumentoModal .modal-body h4{
text-align: center;
color:var(--blueBase) ;
font-size: 27px;
font-weight: bold;
}



#cargaDocumentoModal .modal-body p{
text-align: center;
margin-top: 20px;
	color: #B6C0C9;
	font-weight: 300;
}

#cargaDocumentoModal {
	background-color:rgba(11, 46, 74,.6)
}

/*=====  End of Section  MODAL CARGA DOCUMENTO ======*/




